[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:mpaupulaire4/nvim.git
[submodule ".mozilla/firefox/profile"]
	path = .mozilla/firefox/profile
	url = git@git.paupulaire.com:mpaupulaire/ff-profile.git
