[user]
	name = Michel Pupulaire
	email = mpaupulaire4@gmail.com
[core]
	editor = nvim
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = neovim
[mergetool "meovim"]
	cmd = nvim $MERGED
[pull]
	rebase = true
[init]
	defaultBranch = main
