[user]
  name = Michel Pupulaire
  email = mpaupulaire4@gmail.com
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  features = decorations calochortus-lyallii
  side-by-side = true
[delta "interactive"]
  keep-plus-minus-markers = false
; [delta "decorations"]
;   commit-decoration-style = blue ol
;   commit-style = raw
;   file-style = omit
;   hunk-header-decoration-style = blue box
;   hunk-header-file-style = red
;   hunk-header-line-number-style = "#067a00"
;   hunk-header-style = file line-number syntax
[difftool]
  prompt = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = neovim
[mergetool "neovim"]
  cmd = nvim $MERGED
[pull]
  rebase = true
[init]
  defaultBranch = main
[delta "calochortus-lyallii"]
    # author: https://github.com/manojkarthick
  ; commit-decoration-style = none
  dark = true
  ; file-added-label = [+]
  ; file-copied-label = [C]
  ; file-decoration-style = none
  ; file-modified-label = [M]
  ; file-removed-label = [-]
  ; file-renamed-label = [R]
  ; file-style = 232 bold 184
  ; hunk-header-decoration-style = none
  ; hunk-header-file-style = "#999999"
  ; hunk-header-line-number-style = bold "#03a4ff"
  ; hunk-header-style = file line-number syntax
  ; line-numbers = true
  ; line-numbers-left-style = black
  ; line-numbers-minus-style = "#B10036"
  ; line-numbers-plus-style = "#03a4ff"
  ; line-numbers-right-style = black
  line-numbers-zero-style = "#999999"
  ; minus-emph-style = syntax bold "#780000"
  ; minus-style = syntax "#400000"
  ; plus-emph-style = syntax bold "#007800"
  ; plus-style = syntax "#004000"
  ; whitespace-error-style = "#280050" reverse
  ; zero-style = syntax
  syntax-theme = Dark+ 
