[user]
  name = Michel Pupulaire
  email = mpaupulaire4@gmail.com
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[difftool]
  prompt = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = neovim
[mergetool "neovim"]
  cmd = nvim $MERGED
[pull]
  rebase = true
[init]
  defaultBranch = main
[delta]
  features = interactive side-by-side onedark
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "onedark"]
  dark = true
  plus-style = syntax "#003000"
  minus-style = syntax "#400000"
  file-decoration-style = ol ul
  hunk-header-style = omit
  line-numbers-left-format = "{nm:>4}│"
  line-numbers-right-format = "{np:>4}│"
  line-numbers-zero-style = white
  line-numbers-minus-style = red
  line-numbers-plus-style = green
  syntax-theme = base16 
